fastapi
uvicorn
sqlalchemy
python-jose
passlib
python-multipart
pydantic
pydantic-settings
httpx
aiofiles
slowapi
PyPDF2
python-dotenv
bcrypt
email-validator
cryptography
psycopg2-binary
groq
google-genai
openai
PyMuPDF
pdfplumber
